.contenedor {
    width: 400px;
    height: 400px;
display: flex;
justify-content: center;
align-items: center;
   


}

.caja { 
    display: flex;
   

    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
}