.galeria {
    
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid red;
    gap: 10px;
    
}

.item {

    display: flex;
    flex: 1 1 calc(25% - 10px);
    height: 400px;
    justify-content:flex-start;
    border: 1.5px solid purple;
    min-width: calc(280.2px - 10px);

}